@tailwind base;
@tailwind components;
@tailwind utilities;

.cb1 {

  overflow-y: scroll;
  text-align: center;
  height: 90%;
  width: 100%;
}

.cb12{
  background-color: var(--color-1);
  border-radius: 5px;
  padding: 1vw;
  height: 90%;
  border: solid 5px var(--color-1);
}

#icon {
  height: 80vh;
  width: 3.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 37vh;
}

#text1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 1em;
  font-weight: 500;
  height: 100%;
  color: #858585;
}

#text1 svg {
  font-size: 1.5em;
}

.inputBox2 {

  color: var(--font-color-2);
  background-color: var(--color-1);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-bottom: 1.5%;
  font-size: 2vh;
}

.input2 {
  font-size: 2vh;
  width: 100%;
  border-radius: 5px;
  background: var(--color-2);
  padding-left: 3%;
  font-weight: 400;
  padding: 0.3vh 10px;
}

/**/

.inputBox3-1{
  color: var(--font-color-2);
  font-weight: 700;
  display: flex;  
  flex-direction: column;
  align-items: baseline;
  margin-top: 3%;
  font-size: 2.2vh;
}

.input3{
  width: 99%;
  font-size: 2vh;
  border-radius: 5px;
  background: var(--color-1);
  color:black;
  padding-left: 3%;
  font-weight: 400;
  padding: 0.3vh 10px;
}

/**/

.tex {
  padding: 35% 25% 0% 28%;
}

.tiitle{
  background-color: black;
}
