@tailwind base;
@tailwind components;
@tailwind utilities;

.renderBox{
    width: 73vw;
    height: 70vh;
    border-radius: 5px;
    background-color:  var(--color-2);
}

.renderBody{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 3%;
}

.creativeBoxResult {
    width: 60vw;
    height: 78vh;
    border-radius: 5px;
    background-color: var(--color-2);
    padding: 1.5vw;
    padding-bottom: 0;
}